extends layout

block content
    div(class="content")
        form(id='signUp' method='POST' action="/" onsubmit="return checkCreation()" class='form')
            p Username:&nbsp;
                input(type='text' id='usernameCreation' name="username")
            p Password:&nbsp;
                input(type='text' id='passwordCreation' name="password")
            p E-mail:&nbsp;
                input(type='text' id='emailCreation' name="email")
            p Age:&nbsp;
                input(type='text' id='ageCreation' name="age")
            each item in config.questions
                p(id=item[0]) #{item[0]}
                select(name=item[2])
                    each thing in item[1]
                        option(value=thing) #{thing}
            p
                input(type='submit' class='btn' value='Sign Up')